#Files after compilation not to be uploaded to the repository

#C code intermediate files
**.o
**.mod
**.mod.c
**.cmd
**.axf**

#Executables baremetal
**.bin**
#Executables CPU
code/**/time_measurements_DMA
code/**/time_measurements_CPU

#Quartus II files
**/fpga-hardware/**/**/.qsys_edit/**
**/fpga-hardware/**/**/db/**
**/fpga-hardware/**/**/incremental_db/**
**/fpga-hardware/**/**/soc_system/**
**/fpga-hardware/**/**/hps_isw_handoff/**
**/fpga-hardware/**/**/*.txt
**/fpga-hardware/**/**/*.rpt
**/fpga-hardware/**/**/*.csv
**/fpga-hardware/**/**/*.done
**/fpga-hardware/**/**/*.smsg
**/fpga-hardware/**/**/*.summary
**/fpga-hardware/**/**/*.pin
**/fpga-hardware/**/**/*.jdi
**/fpga-hardware/**/**/*.sopcinfo
**/fpga-hardware/**/**/*.sld
**/fpga-hardware/**/**/*.qws
#**/fpga-hardware/**/**/*.sof
#**/fpga-hardware/**/**/*.rbf
**/fpga-hardware/**/**/*.cdf
**/fpga-hardware/**/**/*.stp
**/fpga-hardware/**/**/*.bak
**/fpga-hardware/**/**/*.h
**/fpga-hardware/**/**/**/*.sof

#Excel
**/~$*